* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: #212121;
}

.container {
  max-width: 2500px;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-25 {
  width: calc(100%/3);
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: calc(200%/3);
}

.ta-center {
  text-align: center;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-space-around {
  justify-content: space-around;
}

.navbar-item,
label,
.role-icon-frame,
.checkbox,
tbody,
.ability-container {
  cursor: pointer;
}
