.navbar {
  background-color: #ff5152;
  padding: 10px;
}

.inline {
  display: inline;
}

.homepage-header {
  font-size: 65px;
  padding: 5px 0 50px;
}

img {
  width: 100%;
}

.logo-frame {
  width: 100vw;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 500px) {
  .homepage-header {
    font-size: 100px;
  }

  .logo-frame {
    max-width: 500px;
  }
}
